<div class="row">
	<% @participations.each do |participation| %>
	     <h3><%= participation.status%></h3>
		<%= participation.event_id%>,
		<%= participation.user_id%>,
		<%= participation.id %>
 	<% end %>
</div>

<!-- 
#participation new
<%= form_for @participation, url: {action: "create"} do |f| %>
	<%= f.label :status %><br />
	<%= f.radio_button :status, 'attendance' %>attendance
	<%= f.radio_button :status, 'uncertain' %>uncertain
	<%= f.radio_button :status, 'absence' %>absence

	<%= f.submit %>
<% end %>
 -->