<%= form_for @event do |f| %>
	<div>	
		<h2><%= f.label :Name %>
		<%= f.text_field :title %></h2>
	</div>
	<div>
		<h4><%= f.label :start_date %>
		<%= f.date_field :start_date %></h4>
	</div>
	<div>
		<h4><%= f.label :period %>(weeks)
		<%= f.number_field :period %></h4>
	</div>

	<div>
		<h4><%= f.label :mentor %>
		<%= f.collection_select :mentor_id, User.mentor, :id, :email %></h4>
	</div>

	<%= f.submit %>
<% end %>