<div class='event'>	
	<div class="title">
		<h2>Title:
		<%= @event.title %></h3>
	</div>

	<div class="start_date">
		<h4>start_date:
		<%= @event.start_date %></h4>
	</div>

	<div class="period">
		<h4>period:
		<%= @event.period %>month</h4>
	</div>

	<div>
		<h4>mentor:
		<%= @event.mentor.email %></h4>
	</div>
<!-- 
	<div>
		<h4>mentee:
		<%= @event.mentee.email %></h4>
	</div> -->

	<div><h4>start_time:
		<%= @event.start_time %></h4>
	</div>

	<div><h4>end_time:
		<%= @event.end_time %></h4>
	</div>

</div>

<%= render 'time_slots/table', time_slots: @event.mentee.time_slots %>

<% if current_user.manager %>
	<%= link_to '시간입력', time_slots_user_path(@event.mentee, event_id: @event.id), class: 'btn btn-warning' %>
<% end %>

<%= link_to 'Edit', edit_event_path(@event), class: 'btn btn-warning' %>
<%= link_to 'Back', events_path, class: 'btn btn-success' %>
